<!--header-->
<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">TLM</a>
  </div>
</nav>
<!--/header-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- footer -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">Test lifecycle management</p>
  </div>
</footer>
<!-- /footer -->
