<div class="page-header">
  <h1>Test details</h1>
</div>
<div *ngIf="testDetail !== undefined">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Full test class name</div>
        <div class="panel-body">
          {{ this.testDetail.className }}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">Class comment</div>
        <div class="panel-body">
          {{ this.testDetail.classComment }}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">Test type</div>
        <div class="panel-body">
          {{ this.testDetail.testType}}
        </div>
      </div>
    </div>
  </div>
  <ul *ngIf="this.testDetail.classTags.length !== 0" class="list-group panel panel-danger">
    <div class="panel-heading">Test tags</div>
    <li class="list-group-item" *ngFor="let tag of this.testDetail.classTags">
      {{ tag.tagName }}: {{ tag.tagText }}
    </li>
  </ul>
  <ul *ngIf="this.testDetail.testMethods.length !== 0" class="list-group panel panel-success">
    <div class="panel-heading">Test methods</div>
    <li class="list-group-item" *ngFor="let method of this.testDetail.testMethods">
      <div class="test-method-container">
        <div>
          <div class="test-method-nested-container">
            <div class="text-bold title">Method name: </div>
            <div>
              {{ method.methodName }}
            </div>
          </div>
        </div>
        <div *ngIf="method.methodComment !== ''" class="test-method-el">
          <div class="test-method-nested-container">
            <div class="text-bold title">Method comment: </div>
            <div>
              {{ method.methodComment }}
            </div>
          </div>
        </div>
        <div *ngIf="method.methodTags.length !== 0" class="test-method-el">
          <div class="text-bold title">Method tags:  </div>
          <div>
            <span class="label label-primary" style="margin-right:5px" *ngFor="let tag of method.methodTags">
              {{ tag.tagName }} {{ tag.tagText }}
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
