<div class="row">
  <div class="row">
    <div class="col-md-1">
      <label><b>Username</b></label>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <input type="text" placeholder="Enter Username" [(ngModel)]="lgn" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label><b>Password</b></label>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <input type="password" placeholder="Enter Password" [(ngModel)]="psw" required>
    </div>
  </div>
  <div class="row">
    <button (click)="applyLogin()">Login</button>
  </div>
</div>
